<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dahua.clxx.mapper.ApplyMapper">

    <select id="queryApplyPage" resultType="com.dahua.clxx.pojo.ApplyVo" parameterType="com.dahua.clxx.pojo.ClxxApplyDto">
        SELECT
            b.user_name studentName,
            b. NO studentNo,
            c.user_name teacherName,
            c.phone,
            a.`index`,
            a.id,
            a.student_id studentId,
            a.teacher_id teacherId,
            a.type,
            a.reason,
            a.time_leave timeLeave,
            a.time_back timeBack,
            a.state,
            a.author_state authorState,
            DATE_FORMAT(
            a.create_time,
            '%Y-%m-%d %H:%i:%S'
            ) createTime,
            a.remark1,
            a.remark2,
            a.remark3,
            a.remark4
        FROM(
            SELECT
                @num :=@num + 1 AS `index`,
                t.*
            FROM
                clxx_apply t,
                (SELECT @num := 0) r
            ORDER BY
                create_time DESC
        ) a
        LEFT JOIN clxx_user b ON a.student_id = b. NO
        LEFT JOIN clxx_user c ON a.teacher_id = c. NO
        where 1=1
        <if test ="clxxApply.id != null">
            and a.id = #{clxxApply.id}
        </if>
        <if test ="clxxApply.ids != null">
            and a.id in (${clxxApply.ids})
        </if>
        <if test ="clxxApply.teacherId != null">
            and a.teacher_id = #{clxxApply.teacherId}
        </if>
        <if test ="clxxApply.phone != null and clxxApply.phone !=''">
            and c.phone LIKE CONCAT('%',#{clxxApply.phone},'%')
        </if>
        <if test ="clxxApply.studentId != null">
            and a.student_id  = #{clxxApply.studentId}
        </if>
        <if test ="clxxApply.studentName != null and clxxApply.studentName !=''">
            and b.user_name LIKE CONCAT('%',#{clxxApply.studentName},'%')
        </if>
        <if test ="clxxApply.teacherName != null and clxxApply.teacherName !=''">
            and c.user_name LIKE CONCAT('%',#{clxxApply.teacherName},'%')
        </if>
        <if test ="clxxApply.state != null and clxxApply.state !=''">
            and a.state = #{clxxApply.state}
        </if>
        <if test ="clxxApply.type != null and clxxApply.type !=''">
            and a.type = #{clxxApply.type}
        </if>
        <if test ="clxxApply.stateNull != null and clxxApply.stateNull !=''">
            and a.state != #{clxxApply.stateNull}
        </if>
        <if test ="clxxApply.timeLeave != null and clxxApply.timeLeave !=''">
            and DATE_FORMAT(a.time_leave,'%Y-%m-%d') = #{clxxApply.timeLeave}
        </if>
        <if test ="clxxApply.timeBack != null and clxxApply.timeBack !=''">
            and DATE_FORMAT(a.time_back,'%Y-%m-%d') = #{clxxApply.timeBack}
        </if>
        <if test ="clxxApply.yearMonth != null and clxxApply.yearMonth !=''">
            and DATE_FORMAT(a.time_leave,'%Y-%m') = #{clxxApply.yearMonth}
        </if>
        order by a.create_time desc
    </select>

</mapper>